


.sIFR-flash{visibility:visible !important;margin:0;padding:0;}.sIFR-unloading .sIFR-flash{visibility:hidden !important;}.sIFR-replaced,.sIFR-ignore{visibility:visible !important;}.sIFR-alternate{position:absolute;left:0;top:0;width:0;height:0;display:block;overflow:hidden;}.sIFR-replaced div.sIFR-fixfocus{margin:0pt;padding:0pt;overflow:auto;letter-spacing:0px;float:none;}.sIFR-active h1.title{visibility:hidden;line-height:24px;font-size:24px;}
